* {
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

.header .background-image{
    width: 2055px;
height: 808px;
background-size: cover;
background-image: url(../images/banner/banner3.png)

}


.banner {
    text-align: right;
    margin-right: 230px;
  padding-top: 216px;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 24pxpx;
    width: 525px;
    margin-left: 1288px;


}

.banner-description {
    color: #FFFFFF;
    margin-bottom: 32px;
    width: 494px;
    margin-left: 1320px;

}

.button-primary {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    background: #F15B22;
border-radius: 5px;
padding: 20px 25px;
border: none;
}
.image-previyous{
    display: flex;
    justify-content: space-around;
}
.person-image{
    padding: 130px 85px 0px 205px;
}
.previyous{
padding:370px 322px 0px 0px;

}
.previyous-title{
    font-weight: 700;
font-size: 40px;
width: 416px;
height: 104px;
color: #151414;
margin-bottom: 24px;

}
.previyous-description{
    width: 416px;
    color: #444343;
    margin-bottom: 16px;
}
.previyous-list{
    margin-bottom: 8px;
    list-style: none;
    width: 349px;
    /* margin-right: 350px; */
}
.section-title{
    color: #151414;
    font-weight: 700;
font-size: 40px;
text-align: center;
margin-top: 92px;
}
.my-plan-skill{
    display: flex;
    gap: 86px;
    margin-left: 450px;
    /* margin-right: 450px; */
    margin-top: 50px;
    
    /* margin: 50px 30px 0px 230px; */
}
.skill-title{
    font-weight: 700;
font-size: 30px;

}
.skill-description{
    font-weight: 500;
font-size: 25px;
}
.call-now-title{
    width: 459px;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 30px;
    
}
.call-now-text{
   padding: 59px 617px 59px 64px;
}
.call-now{
    
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%),  url(../images/watch.png); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 129px 230px 129px 230px;
    border-radius: 8px;
    padding: 30px 0px ;
    
    
}

.footer-style{
    display: flex;
    background-color: #151414;
    height: 577px;
    justify-content: space-around;
    padding: 130px 229px 0px 229px;
    
   
   
}
.future-title{
    color: #F8F8F8;
    font-weight: 700;
font-size: 45px;
margin-bottom: 16px;
}
.future-description{
    width: 485px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.future-email {
    color: #FFFFFF;
    margin-bottom: 16px;
}
.future-phone{
    color: #FFFFFF;
    margin-bottom: 32px;
}
.future-image{
    list-style-type: none;

}
.future-image a{
    text-decoration: none;
}

.title-subscrive{
    color: #FFFFFF;
    font-weight: 600;
font-size: 25px;
width: 123px;
margin-bottom: 31px;
}
.future-email-box{
    font-size: 18px;
   padding: 21px 158px 21px 21px;
   margin-bottom: 10px;
   border: 1px solid rgba(255, 255, 255, 1);
   background-color: #151414;
 
    
   
    
    
}

